<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.krylovanton.quoteextension">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
  <service android:name=".QuoteExtension"
      android:icon="@drawable/ic_extension"
      android:label="@string/extension_title"
      android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">



   <intent-filter>

<action android:name="com.google.android.apps.dashclock.Extension"/>

   </intent-filter>
      <meta-data android:name="protocolVersion" android:value="2" />
      <meta-data android:name="worldReadable" android:value="true" />
      <meta-data android:name="description"
          android:value="@string/extension_description" />
      <meta-data android:name="settingsActivity"
          android:value=".SettingsActivity" />
  </service>

    </application>

</manifest>
